body {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	box-sizing: border-box;
	background: #fafaeb;
}
header {
	display: flex;
	background: black;
	color: white;
	height: 80px;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
nav {
	padding-left: 20px;
	display: inline-flex;
	height: 100%;
	align-items: center;
}
nav a {
	display: inline-block;
	margin: 0;
	margin-left: 30px;
	font-size: 22px;
	color: white;
	text-decoration: none;
}
.divItem {
	width: 33%;
	display: inline-flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.divItem img {
	width: 200px;
}
#content-box {
	margin-top: 80px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.price {
	color: limegreen;
	font-size: 18px;
	font-weight: 600;
}
.addCart {
	padding: 15px 30px;
	background: yellow;
	display: inline-block;
	width: 100px;
}
.cart {
	color: black;
	display: inline-block;
	background: yellow;
	width: 200px;
	padding-left: 20px;
	line-height: 80px;
	position: relative;
}
#cart-items {
	height: 85%;
	min-height: 200px;
	overflow: auto;
	max-height: 53vh;
}
#cart-open {
	display: none;
	font-size: 18px;
	color: black;
	background: #ffffff;
	line-height: normal;
	position: absolute;
	width: 500px;
	height: auto;
	right: 0;
	max-height: 80vh;
}
#cart-open hr {
	border: 1px solid #ccc;
}
#item-amount {
}
.item-count {
	font-size: 18px;
	text-align: right;
	margin-left: 20px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.checkout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 20px 20px 20px;
}
.checkout-button {
	background-color: yellow;
	border: none;
	font-size: 18px;
	font-weight: 500;
	padding: 15px;
	cursor: pointer;
	outline: none;
}
.checkout-button:active {
	background-color: rgb(240,240,0);
}
#cart-items img {
	height: 100px;
}
#cart-items::-webkit-scrollbar {
	width: 5px;
}
#cart-items::-webkit-scrollbar-track {
	background: white;
}
#cart-items::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 4px;
}
#cart-items::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}
.cart-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 20px 20px;
}
.cart-price {
	color: limegreen;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.cart-title {
	padding-left: 10px;
	text-align: left;
}
.cart-div-title {
	flex-grow: 2;
}
.cart-div-img {
	flex-grow: 1;
}
.cart-div-price {
	flex-grow: 1;
}
.cart-div-remove {
	flex-grow: 1;
	text-align: right;
	margin-right: 10px;
}
.remove-button {
	padding: 20px 22px;
	border: 0;
	background: yellow;
	outline: none;
	cursor: pointer;
	font-size: 18px;
}
.remove-button:active {
	background-color: rgb(240,240,0);
}
@media screen and (max-width: 900px) {
	.divItem {
		width: 50%;
	}
}
@media screen and (max-width: 700px) {
	.divItem {
		width: 100%;
	}
}
@media screen and (max-width: 580px) {
	.search > input {
		min-width: 50px;
		width: 100% !important;
	} 
}
@media screen and (max-width: 370px) {
	header {
		height: 160px;
	}
	.right-side {
		align-items: flex-start !important;
		flex-direction: column-reverse !important;
		justify-content: space-between;
		max-width: 220px;
	}
	.search > input {
		margin: 0px 20px 20px 20px;
		position: absolute;
		bottom: 0;
		width: calc(100% - 40px) !important;
		left: 0;
		right: 0;
	}
	#content-box {
		margin-top: 160px;
	}
}



@media screen and (max-width: 930px) {
	nav {
		display: none;
	}
	.menu-button {
		display: flex !important;
	}
	.cart-item > .cart-div-title {
		display: none;
	}
	#cart-open {
		width: 100%;
	}
	.cart-div-img {
		text-align: center;
	}
	.right-side {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
	.right-side > .search {
		margin-left: 20px;
	}
}
@media screen and (max-width: 270px) {
	header {
		height: 160px;
		flex-direction: column-reverse;
	}
	.cart {
		width: 100%;
		text-align: center;
		padding-left: 0;

	}
	.menu-button {
		margin-right: 0px !important;
		justify-content: center !important;
	}
	.search > input {
		position: static;
		margin: 0 0 !important;
		width: 85% !important;
	}
	.right-side {
		max-height: 80px;
		width: 100%;
		align-items: center !important;
		max-width: none;
		flex-direction: row-reverse !important;

	}
	.search {
		max-width: 40%;
		margin: 0 !important;
		height: auto;
	}
	.cart-section {
		max-height: 80px;
	}
}
.menu-button {
	display: none;
	align-items: center;
	margin-right: 30px;
	height: 80px;
	justify-content: flex-end;
}
.menu-box {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	position: relative;
	height: 80px;
}
.menu-line {
	width: 35px;
	height: 3px;
	background: white;
	transition: 0.25s ease-in-out;
}
#line-1 {
	transform-origin: left top;
}
#line-3 {
	transform-origin: left bottom;
}
.menu-line-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 29px;
}
#line-1.active {
	transform: rotate(45deg);
	width: 37.5px;
}
#line-2.active {
	opacity: 0;
}
#line-3.active {
	transform: rotate(-45deg);
	width: 37.5px;
}
.header {
	transition: 0.5s ease-in-out;
}
.header.active {
	height: 450px;
	flex-direction: column;
	justify-content: flex-start;
}
.right-side.active {
	display: none;
}
.menu-nav {
	text-align: center;
	display: none;
	font-size: 30px;
}
.menu-nav.active {
	display: block;
}
.menu-nav > a {
	display: block;
	margin: 30px 0;
	color: white;
	text-decoration: none;
}
.menu-nav.active > a {
	animation: opacityp 1s;
}
@keyframes opacityp {
	from {opacity: 0;}
	to {opacity: 1;}
}
.right-side > div {
	display: inline-block;
}
.search > input {
	width: 250px;
	height: 40px;
	border-radius: 30px;
	box-sizing: border-box;
	padding-left: 20px;
	border: none;
	outline: none;
	color: #444;
	box-shadow: 0px 0px 3px #ccc;
	transition: 0.5s ease-in-out;  
	font-family: 'Manrope', sans-serif;
	letter-spacing: 0.5px;
}
.search {
	margin-right: 20px;
}